 <head>
    <meta charset="UTF-8">
  <meta name="description" content="Vállalkozásfejlesztés, felújítás, készletbővítés ingyenhitellel.">
<meta name="keywords" content="vállalkozói hitel, hitel, ingyen hitel, fejlesztési hitel, kamatmentes hitel, raktárkészlet hitel, forgóeszköz hitel, milló, ingy">
<meta name="robots" content="index, follow">
<meta name="web_author" content="Gold Consulting, Áron Kádas">
<meta name="language" content="Hungarian">
    <title>Hitel Ingyen - Kamatmentes Vállalkozói Hitel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="icon" href="img/favicon.ico">
  </head>
