 <head>
    <meta charset="UTF-8">
  <meta name="description" content="Handwritten condensed for for free download">
<meta name="keywords" content="font,handwriting,condensed,handcraft,handwritten">
<meta name="robots" content="index, follow">
<meta name="web_author" content="Istvan Lechner">
<meta name="language" content="English">
    <title>Sufni Headline - Handicraft Font</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
 <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
  </head>
