---
---

@import "{{ site.theme }}";

.page-header{background-image: linear-gradient(-90deg, #5244A2, #A26B44);}
.btn-info {padding: 0.3rem 1rem; margin-top: 3rem;}
.btn-action {background-color: rgba(169, 184, 85, 0.8)}
img[src*='#left']{border-radius: 50%; display: block; max-width: 100%; height: auto; margin: 2rem;}
.clearfix{clear:left;}
.project-name {
   font-family: "Sufni Headline";
font-size: 6rem;
letter-spacing: 2px;
}


/* Sufni Headline */
@font-face {
  font-family: 'Sufni Headline';
  font-style: normal;
  font-weight: normal;
  src: local('Sufni Headline'), local('Sufni Headline'), url(https://vestalux.github.io/sufni-headline/download/Sufni-Headline.woff) format('woff2');
 
}

