<!DOCTYPE html>
<html lang="en-us">
   {% include head.html %}
 
  <body>
    <section class="page-header" >
      <a name="top"></a>
      <h1 class="project-name">Kamatmentes Vállalkozói Hitel</h1>
      <h2 class="project-tagline">Vigye sikerre vállalkozását.<br/> Korszerűsítés, felújítás, készletbővítés ingyenhitellel.</h2>
     <form action="https://getsimpleform.com/messages?form_api_token=7e06edf037eec8f920c3f48f16724d88" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type='hidden' name='redirect_to' value='http://hitelingyen.hu/sikeres-regisztracio' />
  <!-- all your input fields here.... -->
  <input type='text' name='Név' name="Név" value="Név"
       onfocus="(this.value == 'Név') && (this.value = '')"
       onblur="(this.value == '') && (this.value = 'Név')" class="btn "/>
                                                                       
  <input type='email' name='Email' value="E-mail"
       onfocus="(this.value == 'E-mail') && (this.value = '')"
       onblur="(this.value == '') && (this.value = 'E-mail')" class="btn"/>  
  <input type='submit' value='Ingyenes előminősítést kérek' class="btn btn-action" />
</form>
      
      
      {% if site.github.is_project_page %}
        <a href="/#content" class="btn btn-info">További információ</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
   
    </section>

    <section class="main-content"><a name="content"></a>
      {{ content }}

          
      {% include footer.html %}
      
     
    </section>

 
  </body>
</html>
