<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Kamatmentes Vállalkozói Hitel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header" >
      <a name="top"></a>
      <h1 class="project-name">Kamatmentes Vállalkozói Hitel</h1>
      <h2 class="project-tagline">Vigye sikerre vállalkozását.<br/> Korszerűsítés, felújítás, készletbővítés ingyenhitellel.</h2>
     <form action="https://getsimpleform.com/messages?form_api_token=6d73babc98b744ec1ad9fb3249c87d69" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type='hidden' name='redirect_to' value='//hitelingyen.hu/sikeres-regisztracio' />
  <!-- all your input fields here.... -->
  <input type='text' name='Név' name="Név" value="Név"
       onfocus="(this.value == 'Név') && (this.value = '')"
       onblur="(this.value == '') && (this.value = 'Név')" class="btn "/>
                                                                       
  <input type='email' name='Email' value="E-mail"
       onfocus="(this.value == 'E-mail') && (this.value = '')"
       onblur="(this.value == '') && (this.value = 'E-mail')" class="btn"/>  
  <input type='submit' value='Ingyenes előminősítést kérek' class="btn btn-action" />
</form>
      
      
      {% if site.github.is_project_page %}
        <a href="#content" class="btn btn-info">További információ</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
   
    </section>

    <section class="main-content"><a name="content"></a>
      {{ content }}

      <footer class="site-footer">
    
          <span class="site-footer-owner"><a href="http://hitelingyen.hu">hitelingyen.hu</a> weboldalt a <a href="http://goldconsulting.eu">Gold Consulting</a> üzemelteti</span>
        
        <span class="site-footer-credits"> <a href="/adatkezeles">Adatkezelési Szabályzat</a>.</span>
      </footer>
    </section>

 
  </body>
</html>
