<!DOCTYPE html>
<html lang="en-us">
   {% include head.html %}
 
  <body>
    <section class="page-header" >
      <a name="top"></a>
      <h1 class="project-name">Sufni Headline</h1>
      <h2 class="project-tagline">Handicraft Font</h2>
  
    
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>

   
    </section>

    <section class="main-content"><a name="content"></a>
      {{ content }}

          
      {% include footer.html %}
      
     
    </section>

 
  </body>
</html>
