<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Kamatmentes Vállalkozói Hitel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header" >
      <a name="top"></a>
      <h1 class="project-name">Kamatmentes Vállalkozói Hitel</h1>
      <h2 class="project-tagline">Vigye sikerre vállalkozását.<br/> Korszerűsítés, felújítás, készletbővítés ingyenhitellel.</h2>

   
    </section>

    <section class="main-content"><a name="content"></a>
      {{ content }}

  {% include footer.html %}
    </section>

 
  </body>
</html>
